<?php

return [
    'sendUrl' => '*************************',
    'authToken' => '*****************************',
    // or instead of 'authToken':
    // 'tokenUrl' => '*****************************',
    // 'consumerKey' => '*****************************',
    // 'consumerSecret' => '*****************************',
];
