DB_HOST=10.133.100.160
DB_PORT=5432
DB_NAME=api_prod
DB_USER=api_prod
DB_PASSWORD=api_prod
API_URL='https://backend.local'
LOCAL_API_URL='https://backend.local'
PRIVATE_KEY_PATH='C:/OSPanel/home/backend-master/keys/jwt_rsa'
PUBLIC_KEY_PATH='C:/OSPanel/home/backend-master/keys/jwt_rsa.pem'
YII_DEBUG=true
YII_ENV=dev
SUDIR_URL=https://sudir-test.mos.ru
SUDIR_CLIENT_ID=vetas-prod.starlink-soft.ru
SUDIR_SECRET=mckoueNCR58dmdX
SUDIR_REDIRECT_URI=http://localhost:8305/auth
FIAS_URL='https://api-vetas.mos.ru/efp6-proxy/fias'
CHED_URL='https://doc-upload.mos.ru'