@media all {
    .page-break {
        display: none;
    }
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }
}

.site {
    color: #052534;
    font-weight: normal;
    padding-top: 15px;
}

.logo {
    float: left;
    width: 150px;
    text-align: center;
    padding-top: 40px;
}


body {
    color: #000;
    font-size: 14px;
}

.head1 {
    float: left;
    width: 340px;
    font-weight: bold;
    font-size: 14px;
    padding-top: 40px;
}

.head2 {
    float: right;
    width: 180px;
    padding-top: 10px;
}

.table1 {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
}

.table__row1 {
    border-bottom: 2px solid black;
}

.table-key1 {
    border-right: 2px solid black;
}

.table-value-description1 {
    border-right: 2px solid black;
}

.title {
    clear: both;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.title2 {
    clear: both;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: bold;
}

.clear {
    clear: both;
}

div {
    color: #000;
    font-size: 14px;
}

.tr2 {
    clear: both;
}

.t2 {
    border-left: 1px solid #000;
    padding: 0 0 0 5px;
    float: left;
}

.t3 {
    float: left;
    font-style: italic;
}

.t4 {
    float: left;
    width: 45%;
    overflow: hidden;
    padding-right: 5%;
}

.t6 {
    margin-left: 40px;
}

.t5 {
    border-bottom: 1px solid #000;
    padding: 0 0 0 5px;
    float: left;
}

.t7 {
    float: left;
    border-bottom: 1px solid #052534;
    color: #052534;
    font-style: italic;
}

.t8 {
    float: left;
    border-bottom: 1px solid #000;
    color: #000;
    font-style: italic;
}

.t1 {
    border: 1px solid #000;
    border-left: 0;
    width: 100%;

}

.t32 {
    float: left;
    width: 200px
}


.value {
    font-style: italic;
}

.value_underline {
    float: right;
}
