.tg  {border-collapse:collapse;border-spacing:0;border-color:black;}
.tg td{font-family:Arial, sans-serif;font-size:12px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;width: 50%}
.tg th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;padding:5px 2px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-c3ow{border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-gmla{font-size:14px;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-xrpy{font-weight:bold;font-size:16px;border-color:inherit;text-align:center}
.tg .tg-xldj{border-color:inherit;text-align:left}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:middle}
table > tr {
    height: 20px;
}
